.m-1{
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.m-2{
  margin-right: 10px !important;
}

.m-3{
  margin-right: 80px !important;
}

.logout-button {
  background-color: #33709C;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;

  &:hover {
    background-color: darkblue;
  }
}