<nav class="navbar navbar-expand-lg navbar-light bg-light" [class.admin-header]="isAdmin()">
  <div class="container-fluid">
    <a class="navbar-brand m-1" [routerLink]="getLink()">
      <img ngSrc="../../../assets/logo-removed-bg.png" alt="Logo image" width="80" height="80" class="d-inline-block"
        priority="1">
      TutorMatch
    </a>
  </div>
  <button class="navbar-toggler ml-5 m-1" type="button" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav m-2">
      <li class="nav-item">
      <a class="nav-link text-truncate" *ngIf="authService.isLoggedIn() && !isAdmin()" routerLink="/myprofile"
         routerLinkActive="active">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn() && !isAdmin()" routerLink="/matches"
          routerLinkActive="active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn() && !isAdmin()" routerLink="/chat"
          routerLinkActive="active">Chat</a>
      </li>
      <!-- Admin links -->
      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" routerLink="/admin/students" routerLinkActive="active">Students</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" routerLink="/admin/subjects" routerLinkActive="active">Subjects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-truncate" *ngIf="authService.isLoggedIn() && !isAdmin()" routerLink="/feedback"
           routerLinkActive="active">My Feedback</a>
      </li>
    </ul>
    <ul class="navbar-nav m-3">
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link logout-button" *ngIf="authService.isLoggedIn()" routerLink="/" (click)="authService.logoutUser()">Logout</a>    </ul>
  </div>
</nav>
