  <h2>Your feedback:</h2>
    <table class="table table-striped" style="width:calc(100%)">
      <thead>
      <tr>
        <th style="width:calc(70%)">Message</th>
        <th style="width:calc(15%)">Date</th>
        <th>Report</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let feedback of receivedFeedback">
        <td >{{ feedback.feedback }}</td>
        <td >{{ feedback.created  | date:'MM/dd/yyyy HH:mm:ss'}}</td>
        <td>
          <button class="btn btn-warning custom-button">
            <i class="bi bi-exclamation"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-danger custom-button" (click)="deleteFeedback(feedback.id)">
            <i class="bi bi-x"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
