<ngx-spinner type="square-jelly-box"></ngx-spinner>
<div class="matches-container">
  <h3 class="matches-title">Your matches:</h3>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mb-4 rounded" *ngFor="let match of matches">
        <div class="card h-100 rounded bg-light shadow" (click)="openMatch(match)">
          <div class="card-body">
            <h5 class="card-title">{{ match.firstname }} {{ match.lastname }}</h5>
            <div class="card-text">
              <span class="sub-headline">Offers: </span>
              <span>{{ trimStringByComma(match.traineeSubjects) }}</span>
              <div class="needs">
                <span class="sub-headline">Needs: </span>
                <span>{{ trimStringByComma(match.tutorSubjects) }}</span>
              </div>
            </div>
            <button class="btn btn-primary match-btn">More Information</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-overlay" (click)="closeMatch()" *ngIf="selectedMatch">
  <div class="popup-container" (click)="$event.stopPropagation()">
    <div class="header-container">
      <h1>Match Details</h1>
      <button class="close-btn" (click)="startChat()"><i class="bi bi-chat-dots"></i></button>
    </div>
    <div class="match-details">
      <div class="detail-row"><span class="detail-label">Name:</span>
        <span>{{ selectedMatch.firstname }} {{ selectedMatch.lastname }}</span></div>
      <div class="detail-row"><span class="detail-label">Email:</span> <span *ngIf="selectedUser">{{ selectedUser.email }}</span></div>
      <div class="detail-row"><span class="detail-label">Address:</span> <span *ngIf="selectedUser">{{ getSelectedUserAddressAsString(selectedUser) }}</span></div>
      <div class="detail-row"><span class="detail-label">Phone:</span> <span *ngIf="selectedUser">{{ selectedUser.telNr }}</span></div>
      <div class="flex-container">
        <div class="flex-item">
          <div class="detail-row"><span class="detail-label">Needs:</span>
            <span>{{ selectedMatch.tutorSubjects }}</span></div>
        </div>
        <div class="flex-item">
          <div class="detail-row"><span class="detail-label">Offers:</span>
            <span>{{ selectedMatch.traineeSubjects }}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
