.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.card {
  flex: 3;
  margin: 20px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.card-text span {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.needs {
  margin-top: 20px;
}

.sub-headline {
  color: grey;
  margin-top: 2px;
  padding: 0;
}


.match-details {
  width: 100%;
  margin-top: 20px;
}

.matches-container {
  margin: 20px;
}

.matches-title {
  color: #33709c;
  margin-left: 33px;
  margin-top: 40px;
  text-align: left;
  margin-bottom: 0;
  font-size: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-container h1 {
  margin: 0;
  color: #33709c;
}

.close-btn {
  background-color: #33709c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.match-btn {
  background-color: #33709c;
  border-color: #33709c;
  width: 100%;
  margin-top: auto;
}
.match-btn:hover {
  background-color: #143349;
  border-color: #FFFFFF;
  color: #FFF;
}
.feedback-btn {
  background-color: #33709c;
  border-color: #33709c;
  margin-top: auto;
}
.feedback-btn:hover {
  background-color: #143349;
  border-color: #FFFFFF;
  color: #FFF;
}
.btn .match-btn {
  width: 100%;
}

.save-btn {
  background-color: #33709c;
  border-color: #33709c;
  margin-top: auto;
  float: right;
}
.save-btn:hover {
  background-color: #143349;
  border-color: #FFFFFF;
  color: #FFF;
}
.filter-btn {
  background-color: #33709c;
  border-color: #33709c;
  margin-top: auto;
  float: right;
}
.filter-btn:hover {
  background-color: #143349;
  border-color: #FFFFFF;
  color: #FFF;
}

.no-matches {
  background-color: #FFFFFF;
  transition: .5s;
  border-radius: .55rem;
  position: relative;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  margin: 3rem auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  height: 7rem;
  text-align: center;
  border: 1px solid lightgray;
  width: 30rem;
}

.no-match-display {
  margin-top: 4rem;
}


.pl-3{
  margin-left: 10px;
}

.scrollable-list {
  padding-left: 1rem;
  max-height: 12rem;
  overflow-y: auto;
}

.scrollable-list::-webkit-scrollbar {
  width: 4px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #33709C;
  border-radius: 5px;
  background-color: transparent;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #33709C;
}
