body {
  background-color: #f4f7f6;
  margin-top: 20px;
}

.chat-window {
  padding-top: 25px;
}

.card {
  background: #fff;
  transition: .5s;
  border: 0;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat-app {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 20px;
}


.chat {
  width: 75%; /* Take up the remaining space */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card.chat-room {
  width: 100%; /* Make button fill the width of the list item */
  border: 2px solid white; /* Remove border */
  background: white; /* Remove default background */
  text-align: left; /* Align text to the left */
  padding: 10px 15px; /* Add padding to the button */
}

.card.chat-room:hover {
  background-color: #efefef; /* Add a hover effect */
  border: 2px solid #efefef;
  cursor: pointer; /* Change cursor to pointer */
}

.active-chat-room {
  width: 100%; /* Make button fill the width of the list item */
  border: 2px solid orange; /* Remove border */
  text-align: left; /* Align text to the left */
  padding: 10px 15px; /* Add padding to the button */
  transition: .5s;
  border-radius: .55rem;
  position: relative;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  background-color: white;
}

.active-chat-room:hover {
  background-color: #efefef; /* Add a hover effect */
  border: 2px solid orange;
  cursor: pointer; /* Change cursor to pointer */
}

.people-list {
  background: #F0F2F7; /* Light blue background */
  border-right: 1px solid #e6e6e6;
  width: 25%;
  padding: 20px;
  /*overflow-y: auto; /* Ensure content can be scrolled if it overflows
  height: calc(75vh);
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s*/
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px
}

.people-list .chat-list li.active {
  background: #efefef
}

.people-list .chat-list li .name {
  font-size: 15px
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px
}

.chat .chat-header .chat-name {
  font-size: 1.7rem;
  float: left;
  vertical-align: center;
  padding-left: 10px
}
.chat .chat-header .infobtn {
  float: right;
  vertical-align: center
}

.chat .chat-history {
  border-bottom: 2px solid #fff;
  overflow-y: auto;
  flex-grow: 1; /* Allow chat history to grow and fill available space */
  height: calc(55vh); /* Fixed height for chat history based on the screen height */
  min-height: 0; /* Prevents shrinking below the min height */
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 15px
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px
}
.chat .chat-history ul li:first-child {
  margin-top: 15px
}

.chat .chat-history .message-data {
  margin-bottom: 15px
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px
}

.chat .chat-history .message {
  color: #444;
  text-align: left;
  padding: 5px 10px;
  line-height: 22px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
  max-width: 80%;
  hyphens: auto;
}

.chat .chat-history .my-message {
  background: #33709C;
  color: white;
  margin-right: 0.4rem;
}

.chat .chat-history .other-message {
  background: #F0F2F7;
}

.chat .chat-message {
  padding: 10px
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle
}

.float-right {
  float: right
}

.timestamp{
  display: block;
  font-size: 0.75rem;
  text-align: right;
}

.input-group {
  display: flex;
}

.input-group .form-control {
  flex: 1;
}

.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  //background-color: #143975;
  border: #33709C solid 2px;
}
.chat .btn{
  justify-content: flex-end;
  border:  solid 1px;
  //background-color: #143975;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Aligns items vertically in the center */
  padding: 10px; /* Optional: add some padding */
}
.header-container .btn {
  background-color: red;
}
.sticky{
  overflow-y: auto;
  height: calc(64vh) ;
  -moz-transition: .5s;
  -o-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s
}
.message-content {
  white-space: pre-wrap;
}
.char-count {
  font-size: 0.8rem;
  float: right;
}
::-webkit-scrollbar {
  width: 4px;
  marign-left: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: lightgray;
}
.form-control {
  box-shadow: none !important;
}
.form-control:focus {
  border-color: lightgray;
  box-shadow: none !important;
}
.circle {
  display: inline-block;
  background-color: #33709C;
  margin: 0.1rem;
  border-radius: 50%;
  float: left;
  vertical-align: center;
}

.circle-inner {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  font-size: 20px;

}
