<ngx-spinner type="square-jelly-box"></ngx-spinner>
<div class="container mt-5">
    <h2>Students:</h2>
    <form class="form-inline mb-3">
        <div class="form-group mr-2">
            <input type="text" class="form-control" [(ngModel)]="searchName" (input)="searchTerm$.next(null)"
                placeholder="Name" name="name">
        </div>
        <div class="form-group mr-2">
            <input type="text" class="form-control" [(ngModel)]="matrNumber" (input)="searchTerm$.next(null)"
                placeholder="Student ID" name="studentId">
        </div>

        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle" type="button" id="filterDropdown" aria-haspopup="true"
                aria-expanded="false" (click)="toggleFilter()">
                <i class="bi bi-funnel"></i> Filter
            </button>
            <div class="dropdown-menu p-3" [ngClass]="{'show': showFilter}" aria-labelledby="filterDropdown">
                <div class="form-group">
                    <label class="form-label" for="status">Filter by status:</label>
                    <select class="form-control mt-1 form-select" id="status" [(ngModel)]="tmpFilterStatus"
                        (change)="updateTmpFilterStatus($event.target.value)">
                        <option value="">All</option>
                        <option value="active">Active</option>
                        <option value="banned">Banned</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label class="form-label" for="status">Filter by registration status:</label>
                    <select class="form-control mt-1 form-select" id="verifiedFilter" name="verifiedStatus"
                [(ngModel)]="verifiedFilter" >
                <option value="all" selected>Registration Status: Indifferent</option>
                <option value="verified">Registration Stauts: Verified</option>
                <option value="notVerified">Registration Status: Not Verified</option>
            </select>
                </div>
                <button type="button" class="btn btn-primary mt-2" (click)="applyFilters()">Apply Filters</button>
            </div>
        </div>

    </form>



    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th class="email-column">Email</th>
                <th class="verified-column">Verified</th>
                <th>Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of filteredStudents">
                <td>{{ student.firstname }} {{ student.lastname }}</td>
                <td class="email-column" title="{{ student.email }}">{{ student.email }}</td>
                <td class="verified-column"
                    [ngClass]="{'text-success': student.verified, 'text-danger': !student.verified}">
                    {{ student.verified }}
                </td>
                <td>
                    <button class="btn btn-info custom-button" routerLink="./{{student.id}}">
                        <i class="bi bi-pencil"></i>
                    </button>

                    <button class="btn btn-info custom-button" (click)="viewDetails(student, detailsModal)">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger me-2" [disabled]="student.isBanned" (click)="banUser(student, banModal)">
                        <span *ngIf="student.isBanned">
                            <i class="bi bi-ban"></i> Banned
                        </span>
                        <span *ngIf="!student.isBanned">
                            Ban User
                        </span>
                    </button>
                    <button *ngIf="student.isBanned" class="btn btn-secondary" id="openReasonsModalButton"
                        (click)="showBanReason(student, banReasonsModal)">
                        <i class="bi bi-exclamation-circle"></i> Reason
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center" *ngIf="filteredStudents.length > 0">
        <button type="button" class="btn btn-primary custom-button" (click)="loadMore()" [disabled]="noMoreResults">Load
            More</button>
        <p *ngIf="noMoreResults" class="text-muted">No more results.</p>
    </div>

    <!-- Student Details Modal -->
    <ng-template #detailsModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" style="font-size: 2em; color: #33709c;">Student Details</h5>
        </div>
        <div class="modal-body">
            <p>Name: {{selectedStudentDetails?.firstname}} {{selectedStudentDetails?.lastname}}</p>
            <p>Student ID: {{selectedStudentDetails?.matrNumber}}</p>
            <p>Email: {{selectedStudentDetails?.email}}</p>
            <p>Telephone: {{selectedStudentDetails?.telNr}}</p>
            <p>Street: {{selectedStudentDetails?.street}}</p>
            <p>Area Code: {{selectedStudentDetails?.areaCode}}</p>
            <p>City: {{selectedStudentDetails?.city}}</p>
            <p><em>Trainee Subjects: </em> {{selectedStudentDetails?.traineeSubjects.join(', ')}}</p>
            <p><em>Tutor Subjects: </em> {{selectedStudentDetails?.tutorSubjects.join(', ')}}</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary justify-content-start" routerLink="./feedback/{{selectedStudent.id}}" (click)="modal.close('Close click')">Show Feedback by this student</button>
          <button type="button" class="btn btn-secondary justify-content-start" routerLink="./{{selectedStudent.id}}" (click)="modal.close('Close click')">Edit</button>
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
        </div>

    </ng-template>

    <!-- Student Ban Modal -->
    <ng-template #banModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" style="font-size: 2em; color: #33709c;">Ban Student {{ selectedBanUser.firstname }}
                {{ selectedBanUser.lastname }}</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]="banForm" (ngSubmit)="onBanSubmit(modal)">
                <div class="form-group">
                    <textarea id="banReason" class="form-control" formControlName="banReason"
                        placeholder="Type in reason for ban of Student" rows="5" required></textarea>
                    <div *ngIf="banForm.get('banReason').invalid && (banForm.get('banReason').dirty || banForm.get('banReason').touched)"
                        class="invalid-feedback">
                        Reason is required.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
                    <button type="submit" class="btn btn-danger" [disabled]="banForm.invalid">Ban User</button>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- Student Ban Reasons Modal -->
    <ng-template #banReasonsModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title" style="font-size: 2em; color: #33709c;">Reason for ban of Student
                {{selectedBanReasonUser.firstname}} {{ selectedBanReasonUser.lastname }}</h5>
        </div>
        <div class="modal-body">
            <p>Reasons for ban</p>
            <textarea class="form-control" rows="5" readonly>{{ selectedBanReasonUser.reason }}</textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
</div>
