th,
td {
  text-align: center;
  vertical-align: middle;
}

.email-column {
  max-width: 250px;
  overflow: hidden;
  white-space: normal;
  font-size: 0.9em;
}

.form-inline {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: 768px) {
  .form-inline {
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
}

.form-group {
  flex-grow: 1;
  margin-bottom: 10px;
  padding-top: 5px;
}

@media (min-width: 768px) {
  .form-group {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

.form-group input {
  width: 100%;
}

.custom-button {
  background-color: #33709c;
  border-color: #33709c;
  margin-right: 2px;
}

.verified-column {
  text-align: center;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0; 
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.form-control {
  text-align: center;
  text-align-last: center; 
  -moz-text-align-last: center; // For Firefox
  -webkit-text-align-last: center; // For Chrome and Safari
  margin-top: 5px;
  white-space: nowrap; 
}

.dropdown-menu {
  white-space: nowrap;
}

.btn {
  margin: 5px; 
}

.table-responsive {
  height: 100vh;
  overflow-y: auto;
  border: 1px solid #dee2e6; 
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa; 
  z-index: 2; 
  border-top: 1px solid #dee2e6; 
}