/* You can add global styles to this file, and also import other style files */
body {
  background-color: whitesmoke;

  .primary-btn {
    background-color: #33709C;
    color: white;
  }
  .primary-btn:hover {
    background-color: #33709C;
    color: white;
  }
}
